{%extends 'WebPayments/base.html'%}
{%block contenido%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="{%static 'WebPayments/css/materialize.css'%}">
    <title>Document</title>
</head>
<body>
<div class="grey darken-4 white-text center">
    <div class="container">
        <div class="section">
            <h4>
                BIENVENIDO {{user.get_username}}
            </h4>
        </div>
    </div>
</div>
<div class="parallax-container">
    {%load static %}
    <div class="parallax"><img src="{%static 'WebPayments/img/PeepoPay.jpg'%}"></div>
</div>
<div class="blue-grey darken-4 white-text center">
    <div class="container section">
        <div class="row">
            <div class="col s4">
                <div class="card cyan">
                    <div class="card-image">
                        {%load static %}
                        <img class="img-responsive materialboxed" width="250" src="{%static 'WebPayments/img/cards.jpg'%}">
                        <span class="card-title">Proveedores</span>
                        <a href ="{%url 'proveedores'%}" class="btn-floating halfway-fab waves-effect waves-light red btn-large"><i class="material-icons">supervised_user_circle</i></a>
                    </div>
                    <div class="card-content white-text">
                        <p>
                            ╚ Bienvenidos a esta zona donde usted puede escoger su proveedor, :3 Siu! 🍁
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card cyan">
                    <div class="card-image">
                        {%load static %}
                        <img src="{%static 'WebPayments/img/mount.jpg'%}" alt="">
                        <span class="card-title">Features Of PeepoPay</span>
                    </div>
                    <div class="card-content white-text">
                        <p>
                            Las caracteristicas del peepopay songeniales., :3 Siu!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card cyan">
                    <div class="card-image">
                        {%load static %}
                        <img src="{%static 'WebPayments/img/cards.jpg'%}" alt="">
                        <span class="card-title text-center red-text">Subscripciones</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red btn-large"><i class="material-icons">subscriptions</i></a>
                    </div>
                    <div class="card-content white-text">
                        <p>
                            Bienvenidos a esta zona donde usted puede escoger y visualizar sus subscripciones, :3 Siu!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="parallax-container">
    {%load static %}
    <div class="parallax"><img src="{%static 'WebPayments/img/fondo2.jpg'%}"></div>
</div>
{%load static %}
<script src="{%static 'WebPayments/js/materialize.js'%}"></script> 
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, options);
    });
</script>

</body>
</html>
{%endblock%}