{% extends 'WebPayments/base.html' %}
{% block contenido %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="{%static 'WebPayments/css/materialize.css'%}">
    <title>PeepoPay</title>
</head>
<body>
<div class="grey darken-4 white-text center">
    <div class="container">
        <div class="section">
            <h4>
                Bienvenido, <b> {{user.get_username}} </b>
            </h4>
        </div>
    </div>
</div>

<div class="parallax-container">
    {%load static %}
    <div class="parallax"><img src="{%static 'WebPayments/img/PeepoPay.jpg'%}"></div>
</div>
<div class="blue-grey darken-4 white-text center">
    <div class="container section">
        <div class="row">
            <div class="col s4">
                <div class="card cyan">
                    <div class="card-image">
                        {%load static %}
                        <img class="img-responsive materialboxed" width="250" src="{%static 'WebPayments/img/cards1.jpg'%}">
                        <span class="card-title"><b>Proveedores</b></span>
                        <a href ="{%url 'proveedores'%}" class="btn-floating halfway-fab waves-effect waves-light red btn-large"><i class="material-icons">supervised_user_circle</i></a>
                    </div>
                    <div class="card-content white-text">
                        <p>
                            ╚ La selección de proveedor es un decisión marcada
                            por la complejidad que trae la necesidad de evaluar
                            a los diferentes proveedores en función de criterios tanto
                            de carácter cuantitativo como cualitativo y que, a menudo,
                            pueden entrar en conflicto unos a otros. 🍁
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card cyan">
                    <div class="card-image">
                        {%load static %}
                        <img src="{%static 'WebPayments/img/cards0.jpg'%}" alt="">
                        <span class="card-title"><b>Features Of PeepoPay</b></span>
                    </div>
                    <div class="card-content white-text">
                        <p>
                            Las caracteristicas del peepopay songeniales., :3 Siu!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card cyan">
                    <div class="card-image">
                        {%load static %}
                        <img src="{%static 'WebPayments/img/cards2.jpg'%}" alt="">
                        <span class="card-title red-text"><b>Subscripciones</b></span>
                        <a href ="{%url 'listarproveedores'%}" class="btn-floating halfway-fab waves-effect waves-light red btn-large"><i class="material-icons">subscriptions</i></a>
                    </div>
                    <div class="card-content white-text">
                        <p>
                            Bienvenidos a esta zona donde usted puede escoger y visualizar sus subscripciones, :3 Siu!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    {%load static %}
    <div class="parallax"><img src="{%static 'WebPayments/img/fondo.jpg'%}"></div>
</div>
{%load static %}
<script src="{%static 'WebPayments/js/materialize.js'%}"></script> 
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
    });
</script>

</body>
</html>
{% endblock contenido %}