{%extends 'WebPayments/base.html'%}
{%block contenido%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'WebPayments/img/image.png'%}">
    <link rel="stylesheet" href="{%static 'WebPayments/css/materialize.css'%}">
    <title>Listar Suscripciones</title>
<body>
    <p></p>
<h1 class="container center"> Suscripciones </h1>
<p></p>

<table id = 'tabla' class="table container highlight">
        <tr>
            <th>Nombre</th>
            <th>Ciclo</th>
            <th>Duracion</th>
            <th>Categoria</th>
            <th>Recordatorio</th>
            <th>Telefono</th>
            <th>Monto</th>
        </tr>
        {% for row in table %}
            <tr>
                <td>{{row.nombre}}</td>
                <td>{{row.ciclo}}</td>
                <td>{{row.duracion}}</td>
                <td>{{row.categoria}}</td>
                <td>{{row.recordatorio}}</td>
                <td>{{row.telefono}}</td>
                <td>{{row.monto}} {{row.moneda}}</td>
            </tr>
        {%endfor%}
</table>
<table id = 'tabla2' style="display:none" class="table container highlight">
        <tr>
            <th>Nombre</th>
            <th>Ciclo</th>
            <th>Duracion</th>
            <th>Categoria</th>
            <th>Recordatorio</th>
            <th>Telefono</th>
            <th>Monto</th>
        </tr>
        {% for row in ordenar %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
                <td>{{row.5}}</td>
                <td>{{row.6}} {{row.7}}</td>
            </tr>
        {%endfor%}
</table>
<p></p>
<div class="container center">

    <a href="{% url 'proveedores' %}" class="center waves-effect waves-light btn-small" >
    Agregar Proveedor</a>
    
    <button onclick="show_sum('{{suma.0}}')" class="center waves-effect waves-light btn-small">
    Sumar Monto Total</button>

    <button onclick="change()" class="center waves-effect waves-light btn-small">
    erase xdxdxd</button>

</div>

{%load static%}
<script src="{%static 'WebPayments/js/materialize.js'%}"></script> 
<script type="text/javascript">
function show_sum(variable) {
    message = "El monto total para pagar es " + variable;  
    M.toast({
        html: message
    })
};
  function change(){
      document.getElementById("tabla").style.display="none"
      document.getElementById("tabla2").style.display=""
    }

</script>
</body>
</html>
{%endblock%}
