<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Login</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <div class="login-box">
        <h1 class="cyan-text">Login</h1>
        <div class="textbox">
            <input type="text" placeholder="username" name="" value="">
        </div>
        <div class="textbox">
            <input type="password" placeholder="password" name="" value="">
        </div>
    <input class="button" type="button" name="" value="Sign in">
    </div>
</body>  
</html>