<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
            <input type="text" placeholder="username" name="" value="">
        </div>
        <div class="textbox">
            <input type="password" placeholder="password" name="" value="">
        </div>
    <input class="button" type="button" name="" value="Sign in">
    </div>
</body>
</html>